.header {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.header-menu a {
  display: block;
  padding: 12px 24px;
  color: inherit;
  font-size: 1.125rem;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: linear-gradient(180deg, #c82cff, #9100c3);
  transition: 0.3s all;
  margin-top: 4px;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .header-menu {
    justify-content: center;
  }

  .header-menu a {
    border: 2px solid #ccc;
    border-radius: 8px;
  }

  .header-menu a:hover {
    background: #ededed;
  }

  .header-menu a::after {
    display: none;
  }
}
